article {
  border: solid;
  border-color: rgb(11, 34, 34);
  width: 100%;
  padding: 1em 1em 1em 1em;
}
article header {
  display: flex;
  justify-content: space-between;
}

article footer {
  display: flex;
  justify-content: space-between;
  border-top: solid;
}

.image_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar_icon {
  margin-right: 5px;
  height: 30px;
  width: 30px;
}
